.username{
    background: linear-gradient(to top, #bfffa1 40%, transparent 50%);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    text-align: center;
}

#fileInput-text {
    color: blue;
    text-decoration: underline;
}