.username{
    /* display: flex;
    justify-content: center; */
    background: linear-gradient(to top, #bfffa1 40%, transparent 50%);
    width: 100%;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; 화면 높이에 맞춰 가운데 정렬 */
}

.center-content {
    text-align: center;
}

#fileInput-text {
    color: blue;
    /* font-style: ; */
}

/* .email {
    margin: 0 0 0 0;
}

.snsImg {
    width: 50px;
} */

/* className="mb-3 email-group" */