hr{
  width: 10%;
}

.back{
  background: linear-gradient(to bottom, #ecf3ff 10%, white);
  overflow: hidden;
}


.contents{
  width: 40%;
  margin: 50px;
}


.btn{
  margin: 20px;
  width: 200px;
}

p{
  font-family: 'NanumSquareNeo-Variable';
  font-size: 2rem;
}

span{
  font-family: 'NanumSquareNeo-Variable';
  font-size: 2.5rem;
  color: rgb(47, 56, 104);
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}