/* .habits-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */
  
/* .turtle-container {
    width: 50%;
}
  
.habit-container {
    width: 50%;
}

.text-container {
    margin-top: 10%;
} */
